footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: #FFFFFF;
}
table {
    padding: 15px;
}
td {
    padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  top: 16px;
  right: 80px;
  position: absolute;
}
li {
  float: right;
}
li a {
  display: block;
  text-align: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #000;
  color: white;
}

.active {
    background-color: #000;
  color: white;
}
.name {
    margin: 0;
    padding-top: 16px;
    position: absolute;
    top: 0;
    left: 25px;
}
.video{
    position: relative;
    left: 0;
    top: 90px;
}
.content{
    position: relative;
    left: 30px;
    top: 150px;
}
